@using OilContRM.Models
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Users>

@{
    ViewBag.Title = "CusList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";




}
<style>
    .center {
        text-align: center;
    }

    .pagination {
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
            margin: 0 4px;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<h2>@Resources.Content.CustomerList</h2><form class="form form-control form-inline"  action="/Musteri/Cuslist" method="get"><i class="fa fa-search" aria-hidden="true"></i><input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" name="search"></form>
     


<head>
    <meta charset="utf-8" />
    <title>Ubold - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- Plugin Css-->
    <link rel="stylesheet" href="~/plugins/magnific-popup/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/plugins/jquery-datatables-editable/dataTables.bootstrap4.min.css" />

    <!-- App css -->
    <script src="~/assets/js/modernizr.min.js"></script>

</head>




<div class="row">

    <div class="col-sm-12">

        <div class="card-box" style="margin-top:0">


            <table class="table table-striped add-edit-table" id="datatable-editable">

                <tr>
                    <th>@Resources.Content.Name</th>
                    <th>@Resources.Content.Surname</th>
                    <th>@Resources.Content.Telephone</th>
                    <th>@Resources.Content.Email</th>
                    <th>@Resources.Content.EditCustomer</th>






                </tr>

                <tboy>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td>NoResult</td>
                        </tr>
                    }
                    else{
                    foreach (var us in Model)
                    {
                        <tr class="gradeX">
                            <td>@us.Name</td>
                            <td>@us.Surname</td>
                            <td>@us.Telephone</td>
                            <td>@us.Email</td>


                            <td class="actions">
                                <a href="/Musteri/Edit/@us.ID" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-eraser"></i></a>
                                <a href="/Musteri/DeleteUser/@us.ID" class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="Delete" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                <a href="/Musteri/CarList/@us.ID" class="card-view" data-toggle="tooltip" data-placement="top" title="Add" data-original-title="AddNewCar"><i class="fa fa-car"></i></a>
                                <a href="/Musteri/SendEmail/@us.ID" class="md-email" data-toggle="tooltip" data-placement="top" title="Add" data-original-title="Message"><i class="fa fa-mail-forward"></i></a>
                            </td>
                        </tr>
                    }
                    }





                </tboy>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("CusList",
   new { page }), new PagedListRenderOptions()
   {


   })
            <button class="btn btn-primary" type="button" onclick="OpenFORM()">@Resources.Content.AddACustomer</button>




        </div>
    </div>
</div>


<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">


            <div class="modal-body " id="formcontentModal">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>
<script>
    function OpenFORM() {
        $.ajax({
            url: "/Musteri/AddCustomerFromModal",
            success: function (returndata) {

                $('#formcontentModal').html(returndata);
                $('#formModal').modal('show');
            },
            dataType: "html"

        });
    }
</script>







