<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ubold - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />



</head>


<body>


    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">
                
                <!-- Logo container-->
                <div class="logo">
                    <a href="/Musteri/Index/" class="logo">
                        <img src="~/Content/images/_LOGO.jpg" alt="" height="50" width="85" class="logo-lg">
                        
                        
                        
                    </a>
                </div>

                <!-- End Logo container-->
                <!-- end menu-extras -->
                <form class="float-right" action="/UploadImg/ImageUpload" method="post" enctype="multipart/form-data" style="display:inline">
                    <label class="label label-primary">@Resources.Content.ChangeLOGO:</label>
                    <label for="imageUpload" class="fa fa-2x fa-user-circle"></label>
                    <input type="file" class="btn btn-primary" id="imageUpload" placeholder="asdf" value="ChangePP" onchange="this.form.submit()" name="uploadfile" style="display: none" />
                    <label class="label label-primary">@Resources.Content.ChangeLanguage:</label>
                    <a href="@Url.Action("Index","Musteri",new {lang="tr"})"><img border="0" alt="TR" src="~/Content/turkey.png" width="85" height="50" /></a>
                    <a href="@Url.Action("Index","Musteri",new {lang="en"})"><img border="0" alt="TR" src="~/Content/uk.png" width="85" height="50" /></a>
                    
                    <a href="/YoneticiGiris/Logout" class="btn btn-danger">@Resources.Content.Logout</a>


                </form>

                <div class="clearfix"></div>

            </div> <!-- end container -->
        </div>
        <!-- end topbar-main -->
        <div class="navbar-custom">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">


                        <li class="has-submenu">
                            <a href="@Url.Action("Index","Musteri",new {lang=Session["lang"]})"><i class="md md-dashboard"></i>@Resources.Content.Stats</a>
                        </li>

                        <li class="has-submenu">
                            <a href="@Url.Action("CusList","Musteri",new {lang=Session["lang"]})"><i class="md md-account-child"></i>@Resources.Content.CustomerList</a>
                        </li>

                        <li class="has-submenu">
                            <a href="@Url.Action("ShowProcess","Process",new {lang=Session["lang"]})"><i class="md md-book"></i>@Resources.Content.ProcessRecords</a>

                        </li>
                        <li class="has-submenu">
                            <a href="@Url.Action("Contact","Musteri",new {lang=Session["lang"]})"><i class="md md-phone"></i>@Resources.Content.ContactToCustomer</a>

                        </li>
                        <li class="has-submenu">
                            <a href="@Url.Action("CallRecords","Musteri",new {lang=Session["lang"]})"><i class="md md-tablet"></i>@Resources.Content.CallRecords</a>

                        </li>

                        <li class="has-submenu">





                        </li>











                    </ul>
                    <!-- End navigation menu -->
                </div> <!-- end #navigation -->
            </div> <!-- end container -->
        </div> <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->




    <div class="wrapper">
        <!-- end container -->@RenderBody()
    </div>

    @RenderSection("scripts", false)




    <!-- end wrapper -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    © 2019-2020 Yirmibeş Yazılım
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>

    <!-- Chart JS -->
    <script src="~/plugins/chart.js/Chart.bundle.min.js"></script>
    <script src="~/assets/pages/jquery.chartjs.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>


</body>
</html>
